
#body{

	background-color: #2E2E2E;
}

#site-content h1{
	margin-top: 100px;
	color: #000;
}



#blah{
	width: 100px;
	 height: 100px;
}

#address-text{
	margin-top: -10px;

}

#main-agileits{
	margin-top:50px;
	width: 550px;
	height: 370px;
}