
#portfolio{
	margin-top: 30px;

}

#portfolio h1 {
	color: #000;
}

.mask h4 {
	color: #009EE3;
}

#table{
	margin-top: 120px;
}

#caption h2{
	color: #000;

}

#caption span{
	color: #000;

}

.modal-content {

	margin: 40% auto;	

}

#table{

	margin-top: 50px;
}

#container{
	margin-top: 80px;
}